.Page__title-wrapper {
    display: flex;
    justify-content: flex-start;

    &.title-center {
        justify-content: center;
    }

    &.title-right {
        justify-content: flex-end;
    }
}

.Page__title {
    margin: 0;
    color: rgba(255, 255, 255, .92);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}