.ItemDescription {
    color: #aaa;
    padding: 0;
    max-height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    z-index: 1;

}