.AddContent {
    top: 20px;
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 100%;

    box-sizing: border-box;
    justify-content: flex-end;
    row-gap: 10px;


}