.Debug_TableItem {
    height: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid;

    margin-block: 5px;

    &.last_current {
        background-color: #f00;
    }

    &.last_old {
        background-color: rgb(90, 6, 4);
    }

    &.prev_current {
        background-color: rgb(20, 240, 9);
    }

    &.prev_old {
        background-color: rgb(20, 116, 6);
    }
}

.endWarning {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    gap: 10px;

    .endWarning__action {
        display: flex;
        justify-content: center;
    }

    .endWarning__label {
        display: flex;
        justify-content: center;
    }
}

.navButtons_wrapper {
    position: sticky;
    top: 100px;
}

.navButtons {
    position: absolute;
    z-index: 10;
    left: -50px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}