.photosContainer__wrapper {

    padding-inline: 15px;
    margin-bottom: 10px;
}

.photosContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.PhotosDrugDrop {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;



    border: 1px dashed #444;
    border-radius: 10px;
    height: 250px;
    cursor: pointer;

    &.PhotosDrugDrop__little {
        margin-top: 20px;
        height: auto;
        padding-block: 20px;
    }
}