.OfferPriceStatistics {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: nowrap;
    padding-bottom: 16px;
}

.OfferPriceStatistics__featureValue {
    align-items: center;
    display: flex;
    font-size: 18px;
    line-height: 26px;

    &.second {
        font-size: 12px;
    }
}

.OfferPriceStatistics__featureLabel {
    display: flex;
    color: rgba(0, 0, 0, .32);
    font-size: 12.5px;
    line-height: 20px;

    &.second {
        font-size: 10px;
    }
}

.featureDiff {
    display: flex;

    & .bi::before {
        font-size: 11px;
    }
}

.OfferPriceStatistics__underValue {
    display: flex;
    color: rgba(0, 0, 0, 0.5);
}