.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &.disableByOpacity {
        opacity: 0.35;
    }
}

.form-check-input {
    --bs-form-control-bg: #212529;
    --bs-border-color: #495057;
    --bs-form-check-bg: var(--bs-form-control-bg);
    border-radius: 0.25rem;
    width: 1em;
    height: 1em;
    margin-top: 0.5em;
    vertical-align: top;
    background-color: transparent;
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

input {
    outline: none;
}