.w100 {
    width: 100%;
}

.m-2 {
    margin: 2px;
}

.ms-2 {
    margin-left: 2px;
}

.m-10 {
    margin: 10px;
}

.m-5 {
    margin: 5px;
}

.ms-10 {
    margin-left: 10px;
}

.me-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-5 {
    margin-top: 5px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.w-25 {
    width: 25%;
}

.mw-25 {
    min-width: 25%;
}

.w-65 {
    width: 65%;
}

.t-100 {
    top: 100px;
}

.pb-10 {
    padding-bottom: 10px;
}


.me-auto {
    margin-right: auto !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.border-box {
    box-sizing: border-box;
}