.InputControl_box {

    position: relative;
    display: inline-flex;
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .25em .5em;
    margin: 5px;
    width: auto;


    &::after,
    input {
        width: auto;
        min-width: 1em;
        grid-area: 1 / 2;
        font: inherit;
        padding-inline: 0.25em;
        margin: 0;
        resize: none;
        background: none;
        appearance: none;
        border: none;
        height: 3rem;
        font-size: 2.2rem;
    }



    &::after {
        content: attr(data-value) ' ';
        visibility: hidden;
        white-space: pre-wrap;
    }


    &:focus-within {
        border: 1px solid rgb(255, 217, 0);
    }
}
















.InputControl_box-big {
    position: relative;

    width: 100%;
    font-size: 2.2rem;
    margin-bottom: 20px;

    &>input,
    & .TextInput_fakeInput {
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 2.5rem;

        font-size: 2.2rem;

        font-family: inherit;
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;

        margin: 0em;
        padding-left: 5px;





    }
}


.TextInput_fakeInput_container {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;

    opacity: 0.5;

    &.TextInput_fakeInput_containerFocused {
        opacity: 1;
    }
}

.TextInput__clear-icon {

    background-image: url("https://yastatic.net/s3/vertis-front-deploy/realty-front-lk/_/2f2ef2d0b27663adcbf0e3787f8a759c.svg");
    height: 70%;
    width: 70%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.TextInput__clear {

    position: absolute;
    height: 100%;
    width: 28px;
    right: 0px;
    margin-block: auto;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    opacity: 0.2;
    visibility: hidden;
    cursor: pointer;
    z-index: 2;

    &.TextInput__visible {
        visibility: visible;
    }
}

.InputControl_box {

    position: relative;
    display: inline-flex;
}

.AddOffer__input_withFakeInput {
    color: #000;

}

.TextInput_fakeInput {
    opacity: 0;
    white-space: pre-wrap;
}


.TextInput_fakeInput__label_placeholder {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -2;
}

.InputControl_box_fakeInput {}