.PriceStatisticWithChart__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.PriceStatisticWithChart__statistics_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 15px;

    &>* {
        flex: 1;
    }

    &>:first-child {
        justify-content: flex-start;

        &>* {
            justify-content: flex-start;
        }
    }

    &>:last-child {
        justify-content: flex-end;

        &>* {
            justify-content: flex-end;
        }
    }

    &>:not(:first-child, :last-child) {
        justify-content: center;

        &>* {
            justify-content: center;
        }
    }


    &>:only-child {
        justify-content: center;

        &>* {
            justify-content: center;
        }
    }
}