.ActionsAndStatus__stickyWrapper {
    z-index: 11;
    background-color: #fff;
    padding-inline: 10px;

    &.toSticky {
        position: sticky;
        bottom: 0;

        & .ActionsAndStatus__stickyActions {
            border-top: 1px solid #ccc;
        }
    }

    &.transparent {
        background-color: transparent;

    }
}

.ActionsAndStatus__statusBar {
    height: 5px;
    width: 0;
    background-color: #ffde5a;

    &.statusing_start {
        height: 5px;
        animation-fill-mode: both !important;
        animation: ActionsAndStatus__statusBar-statusing_start 1.2s cubic-bezier(0.4, 0.31, 0, 0.98) 1;
    }

    &.statusing_end {
        height: 5px;
        animation-fill-mode: both !important;
        animation: ActionsAndStatus__statusBar-statusing_end 3.2s cubic-bezier(0.6, -0.08, 0.17, 0.83) 1;
    }
}

@keyframes ActionsAndStatus__statusBar-statusing_start {


    from {
        width: 0%;
    }

    90% {
        width: 80%;
    }

    to {
        width: 80%;
    }
}

@keyframes ActionsAndStatus__statusBar-statusing_end {
    from {
        width: auto;
        max-width: 80%;
    }

    15% {
        max-width: none;
        width: 80%;
    }

    25% {
        width: 75%;
    }

    30% {
        width: 75%;
    }


    45% {
        width: 100%;
    }

    60% {
        width: 100%;
        height: 5px;
        margin-left: 0;
    }

    80% {
        width: 0%;
        height: 5px;
        margin-left: 100%;
        box-shadow: none;
    }
}


.ActionsAndStatus__stickyActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 10px;

}

.ActionsAndStatus__stickyActions_part {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    &:only-child {
        flex: 1;
        justify-content: flex-end;
    }


}

.debug__hiddenFilters {
    position: relative;
    display: flex;
    line-height: normal;
}

.debug__hiddenFilters__icon {
    position: absolute;
    right: -0.8rem;
    top: -0.8rem;
    font-size: 1rem;

    & .bi:before {
        color: #f00;
    }


    animation: debug__hiddenFilters__icon-warning 3.2s cubic-bezier(0.6, -0.08, 0.17, 0.83) infinite;

}

@keyframes debug__hiddenFilters__icon-warning {


    from {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-5px);
    }

    66% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0);
    }
}