.ActionsContainer-content {
    display: flex;
    margin-block: 20px;
    gap: 10px;
    padding-inline: 10px;

    & .ActionsContainer__item {
        display: flex;
        justify-content: center;

    }
}

.ActionsContainer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.ActionsContainer-title {
    text-align: left;
}