.ShowOnline__onlineShow {
    border-radius: 10px;
    padding: 20px;
    background-color: #eee;
    line-height: 1.5rem;

    &>* {
        max-width: 75%;
    }

    & h3 {
        margin: 0;
        padding: 0;
    }

    & .ShowOnline__inputContainer {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;

        & input {
            
            height: 100%;
    
    
        }
    }
}

.ShowOnline__isNotRequired__title {
    font-style: italic;
    color: #777;
    margin-bottom: 20px;
}