.photosContainer__wrapper {
    padding-inline: 15px;
    margin-bottom: 10px;
}

.photosContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.AddPlanPhoto__isNotRequired__title {
    font-style: italic;
    color: #777;
    margin-bottom: 20px;
}